# 2.2. Einführung in Pandas:
 - Erstellen/Einlesen eines Dataframes
 - Bearbeiten eines Dataframes

In [2]:
#Erstellen eines einfachen Dataframes
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

In [3]:
# Datentypen in Dataframe
df.dtypes

month         object
temp           int64
below_zero      bool
dtype: object

In [4]:
#Hinzufügen einer weiteren Zeile
df2 = {"month":"Apr", 
      "temp": 5,
      "below_zero": False}
df3 = df.append(df2, ignore_index=True)
df3

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr     5       False

In [9]:
#Hinzufügen einer Spalte
df3["year"]= [2020, 2020, 2020, 2020]
df3

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

## 2.3. Exkurs Datenrundreise
     - Einlesen und Ausgeben verschiedener Dateiformate in Pandas

In [22]:
#Einlesen einer csv-Datei:
import pandas as pd
df = pd.read_csv("../data/Library_Usage_Small.csv")

In [24]:
#Datei wird in JSON-Format umgeschrieben
df.to_json("../data/Library_Usage_Small.json")

In [25]:
#Einlesen der JSON-Datei
df_json=pd.read_json("../data/Library_Usage_Small.json")

In [26]:
df_json

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [27]:
#Datei in HTML umschreiben
df_json.to_html("../data/Library_Usage_Small.html")

In [29]:
#Einlesen der HTML-Datei
df_html = pd.read_html("../data/Library_Usage_Small.html")
df_html = df_html[0]
df_html

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [30]:
#Datei in Excel umschreiben
df_html.to_excel("../data/Library_Usage_Small.xlsx", index=False)

In [31]:
#Einlesen der Excel-Datei
df_xlsx = pd.read_excel("../data/Library_Usage_Small.xlsx")
df_xlsx

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [34]:
#Datei wird wieder in CSV gespeichert
df_xlsx.to_csv("../data/Library_Usage_Small1.csv", index=False)

In [35]:
#Bei jedem Abspeichern in ein anderes Dateiformat fügt Pandas automatisch einen neuen Index hinzu. Daher nicht vergessen: index=False
df =pd.read_csv("../data/Library_Usage_Small1.csv")
df

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

# Beispiele zur Auswahl und Erstellung von Spalten

In [36]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [37]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [41]:
#Beispiele wie man einzelne Spalten auswählt:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(subset)
print(x)

        Total Renewals  Total Checkouts
0                    0                0
1                   22               31
2                    0                0
3                    0                0
4                   11              126
...                ...              ...
423443              13              291
423444              11               15
423445              58              208
423446               0               26
423447               0                0

[423448 rows x 2 columns]
0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64

In [48]:
#Spalten können mit einer Zuweisung (=) überschrieben oder neu erstellt werden:
df['dummy_variable'] = 5
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0,5,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0,5,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN,5,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0,5,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0,5,True,2.484907

In [44]:
x = df['dummy_variable']
df['dummy_variable'] = 10
x

0         10
1         10
2         10
3         10
4         10
          ..
423443    10
423444    10
423445    10
423446    10
423447    10
Name: dummy_variable, Length: 423448, dtype: int64

In [45]:
#Berechnungen auf schon bestehenden Variablen können auch direkt einer neuen Spalte zugeordnet werden:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [49]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0,5,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0,5,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN,5,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0,5,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0,5,True,2.484907

In [50]:
##2.5 Fallstudie: Feature Engineering:
#Die Spalte Circulation Active Year ist als Text und nicht als Zahl abgespeichert! Darum konvertiere Spalte in ein numerisches Format. 
#Überschreibe die ursprüngliche Variable mit den neuen Werten:
df["Circulation Active Year"]= pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

In [51]:
df['Circulation Active Year'].dtypes

dtype('float64')

In [52]:
#Ebenso müssen die Werte der Spalte Circulation Active Month in ein numerisches Datenformat umgewandelt werden: 
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

In [53]:
#Jetzt extrahieren wir den Monat als Zahl aus der Spalte
df['Circulation Active Month']= df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0         NaN
1         4.0
2         NaN
3         NaN
4         1.0
         ...
423443    3.0
423444    7.0
423445    7.0
423446    4.0
423447    NaN
Name: Circulation Active Month, Length: 423448, dtype: float64

In [54]:
#Berechnen der aktiven Mitgliedschaftsdauer in Monaten speichere das Ergebnis in neuer Spalte Membership Duration:
df["Membership Duration"]=(df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']

In [55]:
#Fehlende Werte in 0 ändern:
df["Membership Duration"]=df["Membership Duration"].fillna(0)

In [56]:
df.head(10)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,5,True,0.000000,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,5,True,3.135494,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,5,True,0.000000,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,5,True,0.000000,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,5,True,2.484907,157.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN,5,False,0.000000,0.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,7.0,2016.0,p,phone,True,2004,False,9.0,5,True,7.432484,151.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,7.0,2014.0,p,phone,True,2014,False,5.0,5,True,0.000000,7.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,6.0,2015.0,z,email,True,2011,False,7.0,5,True,0.000000,54.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,6.0,2016.0,z,email,True,2013,False,NaN,5,True,0.693147,42.0

In [59]:
#Auswahl von Zeilen über logische Ausdrücke mittels loc[]:
df.loc[df['Total Checkouts'] > 10000].head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable,is_adult,log_renewals,Membership Duration
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,NaN,5,False,7.727094,163.0
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,6.0,5,True,6.432940,163.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,7.0,2016.0,z,email,True,2003,False,3.0,5,True,7.700748,163.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,7.0,2016.0,a,print,False,2003,False,3.0,5,False,4.204693,163.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,6.0,2016.0,z,email,True,2003,False,11.0,5,True,4.317488,162.0

In [61]:
#Mithilfe einer Hilfsvariable, die den booleschen Vektor zwischenspeichert:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter].head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable,is_adult,log_renewals,Membership Duration
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,NaN,5,False,7.727094,163.0
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,7.0,2016.0,p,phone,False,2003,False,6.0,5,True,6.432940,163.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,7.0,2016.0,z,email,True,2003,False,3.0,5,True,7.700748,163.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,7.0,2016.0,a,print,False,2003,False,3.0,5,False,4.204693,163.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,6.0,2016.0,z,email,True,2003,False,11.0,5,True,4.317488,162.0

In [64]:
#Mit booleschen Zeilenfiltern können komplexe logische Ausdrücke unter Zuhilfenahme von Operatoren dargestellt werden:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]
row_filter

0         False
1         False
2         False
3         False
4         False
          ...
423443    False
423444    False
423445    False
423446    False
423447    False
Length: 423448, dtype: bool

In [63]:
#Funktion Series.between(left, right), mit der eine boolesche Series erstellt wird, die True ist 
#wenn der Wert der ursprünglichen Series zwischen oder auf den Werten left und right liegt:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

# 2.6 Filtern

In [77]:
#1. Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du?
children = (df["Age Range"] == "0 to 9 years")
len(df.loc[children])

38242

In [68]:
#2. Gibt es Personen mit mehr als 20000 Ausleihen?
len(df.loc[df['Total Checkouts'] > 20000])

3

In [69]:
#3. Wie viele Personen stammen aus dem Norden San Franciscos (Supervisor Districts) 1, 2 und 3)? 
#Nutze die Funktion Series.isin()
North = df["Supervisor District"].isin([1.0, 2.0, 3.0])
len(df.loc[North])

70091

In [76]:
#4. Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?
(df['Membership Duration'] == 0).mean()

0.16035971358938997

# Exkurs: Fehlende Werte

In [78]:
#Schon beim Einlesen kann die Kodierung für fehlende Werte angegeben werden:
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [79]:
#Umwandlung nach dem Einlesen:
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

# Behandlung von Fehlenden Werten

In [80]:
#Filtern und Umschreiben von fehlenden Werten:
df[df['Age Range'].isna()]
df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015.0,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016.0,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016.0,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015.0,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0

In [83]:
#Anzahl der Werte:
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [82]:
#Entfernen fehlender Werte mit dropna(). Originalvariable bleibt unverändert. Kann mit inplace=True verändert werden:
# drops all rows that contain at least one missing values
df.dropna()
# drops all missing values in this series
df['Age Range'].dropna()

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423233, dtype: object

In [86]:
#Ersetzen mit fillna(). Originalvariable bleibt unverändert. Kann mit inplace=True verändert werden:
df['Age Range'].fillna("keine Angabe")

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423448, dtype: object

# 2.8 Exkurs: Fehlende Werte

In [92]:
#Welche Spalten enthalten alles fehlende Werte?
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [95]:
#Lies den Datensatz ein und erstelle einen DataFrame der keine Beobachtungen mit fehlenden Werten mehr enthält.
#Speichere diesen unter dem Namen Library_Usage_Clean.csv ab.
#Wie viele Beobachtungen wurden dabei entfernt?
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df_clean = df.dropna()
df_clean.to_csv("../data/Library_Usage_Clean.csv")

In [97]:
len(df) - len(df_clean)

148321

# Nützliche Funktionen in Pandas

In [98]:
#2.9 Anzeigen der ersten 100 Zeilen:
df = pd.read_csv("../data/Library_Usage.csv")
df.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,ADULT,0,0,35 to 44 years,X,Main Library,None,None,z,email,True,2012,False,1.0
96,0,ADULT,11,0,20 to 24 years,X,Main Library,September,2015,z,email,True,2015,False,NaN
97,0,ADULT,160,44,25 to 34 years,R3,Richmond,May,2015,z,email,True,2003,False,1.0
98,0,ADULT,11,3,35 to 44 years,M2,Marina,March,2014,z,email,True,2003,False,NaN
99,0,ADULT,40,0,45 to 54 years,O7,Ortega,April,2015,p,phone,True,2003,False,4.0

In [99]:
#Letzten 100
df.tail(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
423348,1,JUVENILE,14,2,10 to 19 years,W2,West Portal,July,2013,z,email,True,2007,False,4.0
423349,1,JUVENILE,16,0,0 to 9 years,P7,Potrero,September,2015,p,phone,False,2012,False,10.0
423350,1,JUVENILE,29,0,0 to 9 years,O7,Ortega,October,2014,z,email,True,2012,False,4.0
423351,0,ADULT,237,90,10 to 19 years,B4,Bernal Heights,June,2016,z,email,True,2003,False,9.0
423352,0,ADULT,35,0,35 to 44 years,N6,North Beach,June,2014,z,email,True,2012,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [100]:
#Gibt deskriptive Statistik wieder:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
count,423448.000000,423448,423448.000000,423448.000000,423233,423408,423448,423448,423448,423448,423448,423448,423448.000000,423448,313138.000000
unique,NaN,18,NaN,NaN,10,79,35,13,15,4,4,2,NaN,2,NaN
top,NaN,ADULT,NaN,NaN,25 to 34 years,X,Main Library,July,2016,z,email,True,NaN,False,NaN
freq,NaN,272251,NaN,NaN,91083,124814,124814,91566,147901,323937,323937,336420,NaN,359628,NaN
mean,1.036765,NaN,161.982097,59.657327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.348917,NaN,6.288240
std,4.188198,NaN,453.703678,225.009917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.357374,NaN,3.123634
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,1.000000
25%,0.000000,NaN,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.000000,NaN,4.000000
50%,0.000000,NaN,19.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN,6.000000
75%,1.000000,NaN,113.000000,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,9.000000
max,104.000000,NaN,35907.000000,8965.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,11.000000

In [101]:
#  Funktion sum() addiert die Werte einer Spalte auf:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

21739

In [104]:
#Weitere wichtige Attribute
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [103]:
df.dtypes

Patron Type Code                  int64
Patron Type Definition           object
Total Checkouts                   int64
Total Renewals                    int64
Age Range                        object
Home Library Code                object
Home Library Definition          object
Circulation Active Month         object
Circulation Active Year          object
Notice Preference Code           object
Notice Preference Definition     object
Provided Email Address             bool
Year Patron Registered            int64
Outside of County                  bool
Supervisor District             float64
dtype: object

In [105]:
df.shape

(423448, 15)

In [114]:
#Quizfrage no 4:
over_60 =((df["Age Range"]=="60 to 64 years") & (df["Circulation Active Year"] == "2016") )
len(df.loc[over_60])

7797